<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opt_verification">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".worker_all_display"></activity>
        <activity android:name=".admin_master" />
        <activity android:name=".admin_display" />
        <activity android:name=".admin_verify" />
        <activity android:name=".add_admin" />
        <activity android:name=".add_service" />
        <activity android:name=".worker_display" />
        <activity android:name=".customer_display" />
        <activity android:name=".admin_options" />
        <activity android:name=".customer_options" />
        <activity android:name=".worker_login" />
        <activity android:name=".salary" />
        <activity android:name=".customer_registration" />
        <activity android:name=".customer_login" />
        <activity android:name=".worker_registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>